<p id="notice"><%= notice %></p>

<div class="jumbotron">Welcome to Model3d!</div>




<!-- setup display of the errors as required by OpenJSCAD.js -->
<div class="row">

</div>

<br>

<%= link_to 'New Thing', new_thing_path %>
